/*Author : Nimisha Gosain*/

body {
  margin: auto;
  width: 1200px;
  border: 3px solid rgb(126, 17, 17);
  box-shadow: 5px 10px 10px grey;
  overflow: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px;
  font-size: 25px;
  font-weight: bold;
}

#scoreboard {
  width: 1200px;
  text-align: center;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  color: white;
}

#score {
  margin: 0px;
  border: 2px solid white;
  border-radius: 10px;
}

#restart {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 43%;
  height: 50px;
  width: 250px;
  text-align: center;
  border: 3px solid red;
  border-radius: 15px;
}

#canvas {
  width: 1200px;
  height: 655px;
  margin: 0;
  position: fixed;
  display: none;
  background-color: rgba(97, 96, 96, 0.7);
}

#restart:hover {
  background-color: yellow;
}
